@font-face {
  font-family: 'Montserrat-Regular';
  src: url('./assets/fonts/Montserrat-Regular.ttf');
}
body {
  font-family: 'Montserrat-Regular';
}
#app {
  font-family: 'Montserrat-Regular';
}

//////// header ///////

.w-1200 {
  max-width: 1200px;
  width: 100%;
}

#header {
  background-image: url('assets/img/image8.png');
  background-size: 100%;
  background-position: top center;
  background-repeat: no-repeat;
  background-color: #333333;
}

.wrapper_header {
  width: 100%;
  max-width: 675px;
  padding-bottom: 195px;

  .logo {
    width: 65px;
    height: 43px;
  }
  .header_h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0.05em;
    color: #ffffff;
  }
  .header_p {
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.05em;
  }
}

.header__btn {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: white !important;
  width: 100%;
  max-width: 282px;
  border: #cbf74f solid 3px;
  box-sizing: border-box;
  border-radius: 30px;

  &:focus {
    background: #cbff35;
    border: #cbff35 solid 3px;
  }
  &:hover {
    background: #bbf417;
    border: #bbf417 solid 3px;
  }
}

//////  main//////////

//////section advant///////
main {
  
  color: white;
}
.bck {
  background-color: #333333;
}

.main__advantages {
  height: auto;

  .main__img_left {
    padding-left: 0;
  }
}

.main__advant_div {
  & > h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.05em;
  }
  
}

///// section curator//////

.main__curator {
  height: 100%;

  .main__curator_text{
    font-size: 14px;

    .main__curator_text_wrap{
      position: relative;

      .after_semi{
        position: absolute;
        transform: rotate(180deg);
        right: 5%;
    }
    }  
  }
  .main__curator_figure{
    padding-right: 0;
  }

}

/////// reviews//////

.main_reviews h3{
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.05em;
}

///////slid

.card-img-top{
  width: 95px;
  height: 95px;
}

.main__review{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.05em;
  color: white;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.card-text{
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

.card_activ{
  background: linear-gradient(180deg, #F4F7F8 0%, rgba(255, 255, 255, 0) 100%), #DEE4E7;
  color: #333333 !important;
}

///// button reviews

.main_reviews {
  position: relative;
}


.btn-reset {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}


.btn-rigth{
  top: 58%;
  right: 30%;
  position: absolute;
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-left: 27px solid #E0E0E0;
  border-bottom: 13px solid transparent;
}

.btn-left {
  top: 58%;
  left: 30%;
  position: absolute;
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-right: 27px solid #E0E0E0;
  border-bottom: 13px solid transparent;
}

/////// footer


.footer_wrapper{
  color: white;
}