@font-face {
  font-family: 'Montserrat-Regular';
  src: url('./assets/fonts/Montserrat-Regular.ttf');
}

#app {
  font-family: 'Montserrat-Regular';
}

.home {
  background-color:#E5E5E5;
};
//////// header ///////

.w-1200 {
  max-width: 1200px;
  width: 100%;
  height: 500px;
}

#header{
  background-image: url('assets/img/image8.png');
  background-size: 100%;
  background-position:  top center;
  background-repeat: no-repeat;
  background-color: #333333;
}

.wrapper_header{
  width: 100%;
  max-width: 675px;

  .logo {
  width: 65px;
  height: 43px;
  }
  .header_h1{
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
  }
  .header_p{
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.05em;
  }
}

.header__btn{
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: white !important;
  width: 100%;
  max-width: 282px;
  border: #CBF74F solid 3px;
  box-sizing: border-box;
  border-radius: 30px;

  &:focus{
    background: #CBFF35;
  }
  &:hover{
    background: #BBF417;
  }
}

//////  main//////////

main {
  color: white;
}

.main__advantages {
  background-color: #333333;

  .main__img_left{
    padding-left: 0;
  }
}

.main__advant_div{

  &>h2{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.05em;

  }
  
}